{{> head }}

    {{> navbar }}
<div class="row">

    <div class"col-8" >
        <h1>Aves exóticas</h1>
        <p>
            Aves exóticas del mundo hhcsd  UIU wKAHVFkhdvASCV

        </p>
    </div>
    <div class"col-4">
        <img src="boostrap/img/pngegg.png " class="img-thumbnail">

    </div>


</div>
    
    {{> footer }}